
html {
  overflow-x: hidden;
  max-width: 100%;
}

@media (max-width: 1024px) {


  .about-grid {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .timeline::before {
    left: 20px;
  }

  .tl-item,
  .tl-item:nth-child(even) {
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 0;
  }

  .tl-dot {
    left: 20px;
  }
}

@media (max-width: 768px) {
    .hero-right {
display: none;

  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .pre-logo {
    margin: 0 auto;
  }

  #cursor {
    opacity: 0;
  }

  #cursor-ring {
    opacity: 0;
    z-index: -11;
  }

  section {
    padding: 80px 5%;
  }

 
  #navbar {
    width: 100%;
    left: 0;
    right: 0;
  }

  .nav-links {
    display: none;
  }

 
  #back-top {
    right: 16px;
    bottom: 24px;
  }

  .hamburger {
    display: flex;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .hero-name {
    letter-spacing: -2px;
  }

  .hero-btns {
    margin: 10px auto;
  }

  .orb1 {
    width: 240px;
    height: 240px;
  }

  .orb2 {
    width: 160px;
    height: 160px;
  }

  .orb3 {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  #cursor {
    opacity: 0;
  }

  #cursor-ring {
    opacity: 0;
  }

  .stats-row {
    gap: 16px;
  }

  .hero-btns {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    justify-content: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
   
  }

  .footer-copy {
    margin-right: 0;
  }

  .footer-links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
